.mex-withrawal > .form .submit-btn {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.2s;
}

.mex-withrawal > .form .loader-animation {
  width: 0px !important;
  border: 0px solid #fff !important;
  transition: all .2s;
  margin-rigth: 0;
}

.mex-withrawal > .form .loader-animation.show {
 border-width: 2px !important;
 width: 20px !important;
 margin-right: .5em;
}
