.radio-btn.checked {
  /* background-color: #ffcc00; */
  background-color: var(--secondary-color);
  color: white;
}

.submit-btn {
  background-color: var(--secondary-color);
}

.submit-btn:hover {
  background-color: color-mix(in srgb,  var(--secondary-color) 80%, #fff);
}
