.mex-products-loop ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mex-products-loop > .products-container > .results-wrapper {
    display: flex;
    width: 100%;
    margin-block: 2rem;
}

.mex-products-loop > .products-container > .results-wrapper > .vertical-divider {
    height: 1em;
    margin-block: auto;
    width: 2px;
    display: inline-block;
    background: rgba( 0, 0, 0, 0.5 );
}

.mex-products-loop > .products-container > .products {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.mex-products-loop > .products-container.row-layout > .products {
    grid-template-columns: repeat(1, 1fr);
}

.mex-products-loop > .products-container > .products > .product {
    display: flex;
    grid-column: span 4 / span 4;
}

.mex-products-loop > .products-container.row-layout > .products > .product {
    grid-column: span 1 / span 1;
}

.mex-products-loop .woocommerce-pagination {
    display: flex;
    justify-content: center;
}

.mex-products-loop .woocommerce-pagination ul.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.mex-products-loop .woocommerce-pagination li .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    padding: 1em;
    text-decoration: none;
    color: inherit;
}