.mex-products-loop ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mex-products-loop > .products-container > .results-wrapper .orderby {
    padding: 4px 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg height=".75em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    border-radius: 4px;
  
}

.mex-products-loop > .products-container > .results-wrapper > .results {
    margin-right: auto;
}

.mex-products-loop > .products-container > .results-wrapper .form-wrapper {
    max-width: unset;
    margin: 0;
}

.mex-products-loop > .products-container > .results-wrapper > .mex-view-layout .radio-options {
    gap: 8px;
    margin-right: 1rem;
}

.mex-products-loop > .products-container > .results-wrapper > .mex-view-layout .radio-btn {
    gap: 0;
    padding: 4px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 4px;
}

.mex-products-loop > .products-container > .results-wrapper > .mex-view-layout .radio-btn.checked {
    border-color: #000
}

.mex-products-loop > .products-container > .results-wrapper {
    display: flex;
    width: 100%;
    margin-block: 2rem;
    align-items: center;
}

.mex-products-loop > .products-container > .products {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.mex-products-loop > .products-container.row-layout > .products {
    grid-template-columns: repeat(1, 1fr);
}

.mex-products-loop > .products-container > .products > .product {
    display: flex;
    grid-column: span 4 / span 4;
}

.mex-products-loop > .products-container.row-layout > .products > .product {
    grid-column: span 1 / span 1;
}

.mex-products-loop .woocommerce-pagination {
    display: flex;
    justify-content: center;
}

.mex-products-loop .woocommerce-pagination ul.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.mex-products-loop .woocommerce-pagination li .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    padding: 1em;
    text-decoration: none;
    color: inherit;
}